<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimplePDL -->
      <package
            uri="http://simplepdl"
            class="simplepdl.SimplepdlPackage"
            genModel="SimplePDL.genmodel"/>
   </extension>

</plugin>
