<div>
  <h1>Services</h1>

  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
      <button mat-stroked-button color="primary" routerLink="AddPerson">
        <h2>Add person</h2>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-stroked-button color="primary" routerLink="AddAddress">
        <h2>Add address</h2>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-stroked-button color="primary" routerLink="Associate">
        <h2>Associate</h2>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-stroked-button color="primary" routerLink="List">
        <h2>List</h2>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

</div>
